* {
    margin: 0;
    padding: 0;
    font-family: 'Playpen Sans', cursive;
}
.main_box {
    background-image: url(photo.jpg);
    background-size: cover;
    height: 100vh;
}
.btn_one {
    color: white;
    font-size: 30px;
    font-weight:800 ;
    left: 16px;
    line-height: 60px;
}
.sidebar_menu {
    position: fixed;
    left: -350px ;
    height: 100vh; width: 300px;
    background-color: rgba(213, 206, 206, 0.234);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.604);
     transition: all 0.4s linear;
}
.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.48638648);
    height: 60px;
}
.sidebar_menu .logo a {
    position: absolute;
    left: 40px;
    color: white;
   text-decoration: none;
   font-size: 20px;
   
}
.sidebar_menu .btn_two i { 
     color: grey;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 190px;
   /* opacity: 0; */
   cursor: pointer;
   transition: all 0.4s linear;

    
}
  
.sidebar_menu .menu { 
    color: beige;
    position: absolute;
     height: 100%;
     top: 50px;
}
.sidebar_menu .menu li { 
    margin-top: 10px;
    width: 100%;
    padding: 14px 20px;

}
.sidebar_menu .menu i,a{ 
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i { 
  padding-right: 8px;
}
    .sidebar_menu .social_media { 
    position: absolute;
    
    left: 10%;
    top: 550px;
}
.sidebar_menu .social_media i { 
   color: white;
   opacity: 0.5;
   padding:0 5px;

}
#check {
    display: none;
}
.sidebar_menu .menu li:hover { 
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.98638648);
}
.btn_one i:hover {
    font-size: 40px;
} 
.btn_two i:hover {
    font-size: 40px;
}
.sidebar_menu .social_media i:hover
{
    opacity: 1;
    font-size: 30px;
}
#check:checked ~ .sidebar_menu{
  left: 0px;
}
#check:checked ~ .btn_one {
    opacity: 0;
}
#menu ul li a:hover {
    font-size: 30px;
}
